.chronometer {
  position: relative;

  margin: 0 auto;
  height: 100svh;
  max-width: 180rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  overflow: hidden;

  &__clock {
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: $bp-medium) {
      top: -30%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      min-width: 100rem;
    }
  }

  &__ticks {
    height: 200%;
    width: 100%;

    &--spin {
      animation: spin360 59s linear 1s infinite;
    }
  }

  &__pointer {
    position: absolute;
    top: 50%;
    left: 105%;
    height: 2%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: $bp-medium) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      rotate: 90deg;
      height: 4%;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    width: 100%;
    max-width: 45rem;

    @media screen and (max-width: $bp-small) {
      gap: 4rem;
      padding: 0 1.5rem;
    }
  }

  &__hr {
    border-bottom: 3px solid $color-white;
    width: 100%;
  }

  &__timer {
    font-size: 8rem;
    @media screen and (max-width: $bp-medium) {
      font-size: 6rem;
    }
    @media screen and (max-width: $bp-small) {
      font-size: 5rem;
    }
  }

  &__laptimer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: scroll;
    height: 25rem;
  }

  &__laptimer::-webkit-scrollbar {
    display: none;
  }

  &__lap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.1rem;

    @media screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__place {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__icon {
    fill: $color-white;
    height: 1.7rem;
    width: 1.7rem;
  }

  &__control {
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 4.15rem 0;
  }
}
