.button {
  background-color: $color-yellow;
  padding: 2rem;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &--start,
  &--lap {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
}
